@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-white :#fff;
    --color-black: #000;
    --color-beige: #ebded4;
    --color-medium-br : #d3b094;
    --color-brown: #704c13;

    --font-large : 48px;
    --font-medium : 24px;
    --font-regular : 20px;
    --font-small : 16px;
    --font-micro : 14px;

    --size-border-radius : 4px;
    
    --animation-duration : 300ms;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'GangwonEdu_OTFBoldA', 'sans-serif';
    margin: 0;
}

a{
    text-decoration: none;
    color:var(--color-brown);
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size : var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0;
}
h2 {
    font-size : var(--font-medium);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size : var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p{
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar  */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 16px;
    background-color: var(--color-beige);
}

.navbar-logo {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-brown);
}

.navbar-menu {
    display: flex;
}

.navbar-menu-item {
    padding : 8px 12px;
    margin: 0 4px;
    color: var(--color-brown);
    font-size: var(--font-medium);
    cursor: pointer;
}

.navbar-menu-item:hover{
    background-color: var(--color-beige);
    border-radius: var(--size-border-radius);
}
.navbar-toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size:24px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home {
    background: url(./images/background.png) center/cover no-repeat;
    padding : 40px;
    text-align: center;
}

.home-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-brown);
}

.home-title, .home-description{
    color:var(--color-brown);
}

.home-contact {
    color: var(--color-medium-br);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid gainsboro;
    border-radius: var(--size-border-radius);
}

.section {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}

.section-container {
    max-width: 1200px;
    margin: auto;
}

.about-majors {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
} 
.major-icon {
    width: 200px;
    height: 200px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-brown);
    margin-bottom: 10px;
}
.major-icon i {
    transition: all var(--animation-duration) ease;
}

.major-icon:hover i {
    color: var(--color-medium-br);
    transform: rotate(-30deg) scale(1.1);
}
