@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-white :#fff;
    --color-black: #000;
    --color-navy : #0b2639;

    --font-large : 48px;
    --font-medium : 28px;
    --font-regular : 18px;
    --font-small : 16px;
    --font-micro : 14px;

    --size-border-radius : 4px;
    
    --animation-duration : 300ms;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'GangwonEdu_OTFBoldA', 'sans-serif';
    margin: 0;
}

a{
    text-decoration: none;
    color:var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

button {
    background-color: lemonchiffon;
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size : var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0;
}
h2 {
    font-size : var(--font-medium);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size : var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p{
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar  */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 16px;
    background-color: var(--color-navy);
}

.navbar-logo {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-white);
}

.navbar-menu {
    display: flex;
}
.navbar-menu-item {
    padding : 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
}
.navbar-menu-item.active {
    border:1px solid gainsboro;
    border-radius: var(--size-border-radius);
}
.navbar-menu-item:hover{
    background-color:  darkcyan;
    border-radius: var(--size-border-radius);
}
.navbar-toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size:24px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home {
    background: url(./images/background.png) center/cover no-repeat;
    padding : 40px;
    text-align: center;
}

.home-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home-title, .home-description{
    color:var(--color-white);
}

.home-contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}