@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-white :#fff;
    --color-black: #000;
    --color-beige: #ebded4;
    --color-medium-br : #d3b094;
    --color-brown: #704c13;
    --color-yellow : cornsilk;

    --font-large : 48px;
    --font-medium : 24px;
    --font-regular : 20px;
    --font-small : 16px;
    --font-micro : 14px;

    --size-border-radius : 4px;
    
    --animation-duration : 300ms;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'GangwonEdu_OTFBoldA', 'sans-serif';
    margin: 0;
}

a{
    text-decoration: none;
    color:var(--color-brown);
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size : var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0;
}
h2 {
    font-size : var(--font-medium);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size : var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p{
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar  */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 16px;
    background-color: var(--color-beige);
}

.navbar-logo {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-brown);
}

.navbar-menu {
    display: flex;
}

.navbar-menu-item {
    padding : 8px 12px;
    margin: 0 4px;
    color: var(--color-brown);
    font-size: var(--font-medium);
    cursor: pointer;
}

.navbar-menu-item:hover{
    background-color: var(--color-beige);
    border-radius: var(--size-border-radius);
}
.navbar-toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size:24px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home {
    background: url(./images/background.png) center/cover no-repeat;
    padding : 40px;
    text-align: center;
}

.home-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-brown);
}

.home-title, .home-description{
    color:var(--color-brown);
}

.home-contact {
    color: var(--color-medium-br);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid gainsboro;
    border-radius: var(--size-border-radius);
}

/* section 공통 */
.section {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}

.section-container {
    max-width: 1200px;
    margin: auto;
}

/* 내 소개 */
.about-majors {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
} 
.major-icon {
    width: 200px;
    height: 200px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-brown);
    margin-bottom: 10px;
}
.major-icon i {
    transition: all var(--animation-duration) ease;
}

.major-icon:hover i {
    color: var(--color-medium-br);
    transform: rotate(-30deg) scale(1.1);
}

.major-title {
    font-weight: bold;
    font-size: var(--font-medium)
}

.major-title, .major-description {
    color: var(--color-black);
} 

.job {
    display: flex;
    align-items: center;
}
.job-description {
    margin: 0 16px;
    text-align: left;
}
.job-name, .job-period {
    color: gray;
}

.job-name {
    font-size: var(--font-small);
}

.job-period{
    font-size: var(--font-micro);
}

/* 기술 */
#skills {
    background-color: var(--color-yellow);
}
.skillset {
    display: flex;
    color: var(--color-brown);
    margin: 20px 0;
}

.skillset-title {
    color: var(--color-black);
}

.skillset-left {
    flex-basis: 60%;
    padding : 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill-description{
    display: flex;
    justify-content: space-between;
}

.skill-bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-medium-br);
}

.skill-value {
    height: 3px;
    background-color: var(--color-brown);
}

.skillset-right {
    flex-basis: 40%;
}

.tools, .etc {
    padding: 20px;
}

/* 프로젝트 */

.work-categories {
    margin: 40px;
}

.category-btn {
    border: 1px solid gainsboro;
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding : 8px 48px;
}

.category-btn:active {
    background-color: var(--color-beige);
}

.category-btn:hover {
    background-color: var(--color-beige);
}

.category-btn:active .category-count,
.category-btn:hover .category-count {
    opacity: 1;
    top: 0;
}

.category-count {
    background-color: var(--color-medium-br);
    border: 50%;
    color: var(--color-beige);
    height: 24px;
    width: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease;
}

.work-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height : 250px;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.project-description {
    position: absolute;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease;
}

.project:hover .project-description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project-description h3:after {
    content: '';
    display: block;
    position : relative;
    left:50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-brown);
}



